@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans';
}
html{
  font-size: 10px;
}
body{
  overflow-x: hidden;
}

@media screen and ( max-width:1100px){
  html{
    font-size: 8px;
  }
}
@media screen and ( max-width:900px){
  html{
    font-size: 7px;
  }
 
}
@media screen and ( max-width:750px){
  html{
    font-size: 9px;
  }
 
}